


body { 
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
h1{
    color: indigo;
    background-color: mediumvioletred;
}
h2{
    color: mediumpurple;
}